@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

// variables
$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);

$light-grey: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);
$green: hsl(179, 47%, 52%);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  background: $light-grey;
  padding: 0 1.3rem;
}

section {
  padding: 3rem;
}

// content styles
main {
  background: white;
  max-width: 800px;
  width: 800px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 10px 35px 17px rgba(0, 0, 0, 0.12);

  .top {
    h1 {
      color: $cyan;
      font-size: 2rem;
      margin-top: 0;
    }

    p {
      color: rgb(172, 172, 172);
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }

    .text-yellow {
      color: $bright-yellow;
    }
  }

  .flex {
    display: flex;
    & > section {
      flex: 1;
    }

    .left {
      background-color: $cyan;
      color: white;

      p {
        font-size: 1.2rem;
        letter-spacing: 1px;
        margin-top: 2rem;
      }

      .faded {
        display: flex;
        align-items: center;
        color: rgba(194, 246, 255, 0.753);
        font-size: 1.2rem;

        .big {
          color: white;
          font-size: 2.7rem;
          margin-right: 0.8rem;
          align-self: flex-start;
          font-weight: 700;
        }
      }

      button {
        background: $bright-yellow;
        padding: 1rem 0;
        font-size: 1.2rem;
        font-family: "Karla", sans-serif;
        font-weight: 700;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 5px;
        color: white;
        margin-top: 0.7rem;
        cursor: pointer;
        box-shadow: 0px 2px 41px 8px rgba(0, 0, 0, 0.1);
      }
    }

    .right {
      background-color: $green;
      color: white;

      ul {
        list-style-type: none;
        padding: 0;
        opacity: 0.7;
        font-size: 1.19rem;
        margin-top: 1.8rem;

        li {
          line-height: 1.5;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  body {
    padding: 4rem 2rem;
  }
  main {
    .top {
      padding: 2rem 1.1rem;

      h1 {
        font-size: 1.5rem;
      }

      h2 {
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.6;
      }
    }

    .flex {
      .left {
        padding: 2rem 1.1rem;

        h2 {
          font-size: 1.3rem;
          margin-top: 0;
        }

        .faded {
          margin-bottom: 0.5rem;
          .big {
            font-size: 2.5rem;
          }
        }

        p {
          font-size: 1.1rem;
          letter-spacing: 0px;
          margin-bottom: 1.3rem;
          margin-top: 0;
        }
      }
    }

    .right {
      padding: 2rem 1.1rem;

      h2 {
        font-size: 1.3rem;
        margin-top: 0;
      }

      ul {
        font-size: 1rem !important;
        margin-top: 1rem !important;
      }
    }
  }
}
